@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model AgentsCustomersOrders.ViewModels.Home.AgentsViewModel 

<div>
    <h2>Agent @Model.agent.AgentCode</h2>
    <p>Name: @Model.agent.AgentName</p>
    <p>Working Area: @Model.agent.WorkingArea</p>
    <p>Comission: @Model.agent.Commission</p>
    <p>Phone Number: @Model.agent.PhoneNo</p>
</div>

<form method="post" action="/agents/delete">
    <button type="submit" class="btn btn-danger">Delete</button>
    <input type="hidden" name="agentCode" value="@Model.agent.AgentCode" />
</form>

<form method="get" action="/agents/edit/@Model.agent.AgentCode">
    <button type="submit" class="btn btn-outline-primary">Edit</button>
</form>
